body {
	padding: 50px 0;
}
.nav-error, .nav-success {
	position: fixed;
	top: 50px;
	right: 0;
}
.nav .dropdown i {
	cursor: pointer;
}

table.table thead th:not(:nth-child(3)):not(:nth-child(4)) {
  text-align: center;
}
table.table {
  font-weight: bold;
  margin-bottom: 500px;
}
table.table tr td {
  vertical-align: middle;
}
table tr td:first-child,
table tr td:nth-child(2) {
  width: 50px;
  text-align: center;
}
table tr td:nth-child(3) {
  width: 300px;
}
table tr td:nth-child(5) {
  color: rgb(191,141,0);
  min-width: 100px;
}
table.table tr td:nth-child(5),
table.table tr td:nth-child(6),
table.table tr td:nth-child(7),
table.table tr td:nth-child(8),
table.table tr td:nth-child(9) {

  text-align: center;
}

table img {
  max-height: 50px;
}

table input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #dddddd;
  display: block;
  margin: 0 auto;
}
table input[type='checkbox']:checked:after {
  content: "X";
  font-size: 30px;
  position: relative;
  top: -5px;
  left: 5px;
  color: #333;
}
table.table td input[type="number"] {
  margin-bottom: 0;
}

.owned-colors-missing {
  background: rgb(255,0,0);
}
.owned-colors-playset {
  background: rgb(255,153,0);
}
.owned-colors-extras {
  background: rgb(0,255,0);
}

.rarity-common {
  color: rgb(0,255,0);
}
.rarity-uncommon {
  color: rgb(0,0,255);
}
.rarity-rare {
  color: rgb(255,0,255);
}

/*make input background on owned field transparent*/
td:not(first-child) input[type="number"],
tr:hover td:not(:first-child) input[type="number"] {
  background: transparent;
}

.faction-order, .faction-order td:not(:first-child) input[type="number"] {
  background: rgb(164,194,244);
}
.faction-growth, .faction-growth td:not(:first-child)  input[type="number"] {
  background: rgb(172,208,176);
}
.faction-energy, .faction-energy td:not(:first-child) input[type="number"] {
  background: rgb(249,203,156);
}

.over-count {
  color: red;
}

input[type="number"] {
  max-width: 100px;
}

.popover {
  max-width: none;
  width: auto;
}
.image-popup-container .popover.right .arrow {
  top: 5%;
}
.image-popup-container .popover-content img {
  width: 350px;
  max-width: 200%;
}