body {
  padding: 10px 10px 0 120px;
}
h1, h2 {
  font-family: 'Balthazar', serif;
}
.navbar-fixed-top {
  height:40px;
}
.content {
  overflow: hidden;
  position: absolute;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  top: 40px;
  bottom: 0px;
  left: 100px;
  right: 0px;
  padding: 0px 10px;
  overflow: auto;
}
.sideNav {
  padding: 10px 0;
  position: fixed;
  left: 0px;
  top: 0;
  height: 100%;
  bottom: 0px;
  width: 100px;
  /*z-index: 1020;  10 less than .navbar-fixed to prevent any overlap */
  text-align:center;
  font-size:11px;
  font-weight:bold;
}
.sideNav a:hover {
  text-decoration: none;
}

.dark .sideNav a:hover {
  color: #ccc;
}
.sideNav .active {
  color: black;
}
.dark .sideNav .active {
  color: white;
}
.sideNav button {
  max-width: 100px;
}
.login-container {
  margin: 5px;
}
.nav-error, .nav-success {
	position: fixed;
	top: 50px;
	right: 0;
}
.nav .dropdown i {
	cursor: pointer;
}

.table-controls  {
  margin: 0;
}
.table-controls .control-group>label {
  text-align: left;
  width: 35px;
}
.table-controls.checkbox-controls {
  margin-left: 100px;
}
.table-controls .checkbox {
  height: 30px;
  background: none;
  line-height: 32px;
  margin: 10px 0;
}
.table-controls input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 10px 0 0;
  opacity: .5;
  background-size: cover;
}
.table-controls .faction-order input[type='checkbox'] {
  background-image: url('/img/card-icons/order.png');
}
.table-controls .faction-energy input[type='checkbox'] {
  background-image: url('/img/card-icons/energy.png');
}
.table-controls .faction-growth input[type='checkbox'] {
  background-image: url('/img/card-icons/growth.png');
}
.table-controls input[type='checkbox']:checked {
  opacity: 1;
}

.gold-info {
  padding: 10px;
  text-align: right;
}
.gold-info label {
  margin: 0;
  font-weight: bold;
}

table.table thead th:not(.name):not(.rarity),
table.table td:not(.name):not(.rarity) {
  text-align: center;
}
table.table.analyzer-table tbody tr td {
  text-align: left !important;
}

table.table {
  font-weight: bold;
  margin-bottom: 500px;
}
table.table tr td {
  vertical-align: middle;
}
table tr td.owned,
table tr td.image {
  width: 50px;
}
table tr td.name {
  width: 300px;
}
table tr td.price {
  color: rgb(191,141,0);
  min-width: 100px;
}

table img {
  max-height: 50px;
}

table input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #dddddd;
  display: block;
  margin: 0 auto;
}
table input[type='checkbox']:checked:after {
  content: "X";
  font-size: 30px;
  position: relative;
  top: -5px;
  left: 5px;
  color: #333;
}
table.table td input[type="number"] {
  margin-bottom: 0;
}

table.table td a {
  color: #333;
  cursor: pointer;
}

.owned-colors-missing {
  background: rgb(255,0,0);
}
.owned-colors-playset {
  background: rgb(255,153,0);
}
.owned-colors-extras {
  background: rgb(0,255,0);
}

.rarity-common {
  color: rgb(0,255,0);
}
.rarity-uncommon {
  color: rgb(0,0,255);
}
.rarity-rare {
  color: rgb(255,0,255);
}

/*make input background on owned field transparent*/
td:not(first-child) input[type="number"],
tr:hover td:not(:first-child) input[type="number"] {
  background: transparent;
}

.faction-order, .faction-order td:not(:first-child) input[type="number"] {
  background: rgb(164,194,244);
}
.faction-growth, .faction-growth td:not(:first-child)  input[type="number"] {
  background: rgb(172,208,176);
}
.faction-energy, .faction-energy td:not(:first-child) input[type="number"] {
  background: rgb(249,203,156);
}

.over-count {
  color: red;
}

input[type="number"] {
  max-width: 100px;
}

.popover {
  max-width: none;
  width: auto;
}
.image-popup-container .popover.right .arrow {
  top: 5%;
}
.image-popup-container .popover-content img {
  width: 350px;
  max-width: 200%;
}
.login-alert {
  font-size: 1.5em;
}
.login-alert i {
  padding: 0 10px 0;
  font-size: 40px;
}

footer {
  margin-top: 100px;
}

.nav-card-save-success {
  z-index: 100000;
}

.dark .modal h1 {
  color: #333;
}
.dark .modal .final-tutorial {
  color: #333;
}
.dark .modal, .dark .modal a {
  color: #333;
}

.modal {
  top: 300px;
}

.modal-download-button {
  margin: 0 auto 10px auto;
  display: block;
}

.dark .modal a.modal-download-button {
  color: white;
}