<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Scrolls Toolbox</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="styles/0d2d674d.main.css">

  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css">

  <script src="/socket.io/socket.io.js"></script>
</head>
<body ng-app="scrollstoolboxApp">
  <!--[if lt IE 7]>
  <p class="chromeframe">
    You are using an outdated browser.
    <a href="http://browsehappy.com/">Upgrade your browser today</a>
    or
    <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
    to better experience this site.
  </p>
  <![endif]-->

  <!--[if lt IE 9]>
  <script src="components/es5-shim/es5-shim.js"></script>
  <script src="components/json3/lib/json3.min.js"></script>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" ng-controller="NavCtrl">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Scrolls Toolbox</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li ng-class="navClass('collection')">
              <a href="/collection">Collection</a>
            </li>
            <li ng-class="navClass('wtswtb')">
              <a href="/wtswtb">Trade Assistant</a>
            </li>
            <li>
              <!--
              <a href="/decks">Decks</a>
            </li>
            -->
            </li><li ng-class="navClass('links')">
              <a href="/links">Resources</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li ng-class="navClass('account')" ng-show="user.authed">
              <a href="/account">{{user.username}}'s Account</a>
            </li>
            <li ng-show="user.authed">
              <a href="/logout" ng-click="logout()"> <i class="icon-signout"></i>
                Logout
              </a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-question-sign"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/forgot-password" ng-show="!user.authed">Forgot Password</a>
                  <a href="/faq">FAQ</a>
                  <a href="/contact">Contact / Bug Report</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="alert alert-error nav-error" ng-show="user.error">
            <strong>{{user.error}}</strong>
          </div>
          <div class="alert alert-success nav-success" ng-show="userUpdated">
            <a class="close" href="#" ng-click="clearUpdated()">&times;</a>
            <strong>User Update Successful.</strong>
          </div>
          <form class="navbar-form pull-right" ng-show="!user.authed">
            <input class="span2" type="text" placeholder="Username" ng-model="username">
            <input class="span2" type="password" placeholder="Password" ng-model="password">
            <button type="submit" class="btn" ng-click="login()">Login</button>
            <button type="submit" class="btn" ng-click="register()">Register</button>
          </form>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container">
    <div ng-view=""></div>
  </div>
  <div class="container">
    <hr>

    <footer>
      <p>&copy;ScrollsToolbox 2013, all Scrolls Images and Content &copy;Mojang.  This site is not affiliated with or endorsed by <a href="http://www.mojang.com">Mojang</a> in any way.  Card information thanks to <a href="http://www.scrollsguide.com">Scrolls Guide</a>.  Prices thanks to <a href="http://trading.scrollsguide.com/">Scrolls Trading Bulletin</a></p>
    </footer>
  </div>

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/components/bootstrap/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="/components/angular-ui/build/angular-ui.js"></script>

  <script src="scripts/ee7d4e20.scripts.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  </body>
</html>