<div class="row-fluid">
	<h1>{{user.username}}</h1>

	<p>
		Click the edit icons to change your email or in-game name.</p>
	
	<div ng-show="!inGameNameEditing">
		<p>
			<strong>In-Game Name (Required for Collection Sync):</strong>
			<span>
				{{user.inGameName}}
				<a href="" ng-click="edit('inGameName')">
					<i class="icon-edit"></i>
				</a>
			</span>
		</p>
	</div>

	<div ng-show="inGameNameEditing">
		<p>
			<form class="form-inline">
				<strong>In-Game Name (Required for Collection Sync):</strong>
				<input type="text" class="input" placeholder="In-Game Name" ng-model="inGameNameEdited">

				<button type="submit" class="btn" ng-click="save('inGameName')">Save</button>
				<button ng-click="close('inGameName')" class="btn">Cancel</button>
			</form>
		</p>
	</div>

	<div ng-show="!emailEditing">
		<p>
			<strong>Email:</strong>
			<span>
				{{user.email}}
				<a href="" ng-click="edit('email')">
					<i class="icon-edit"></i>
				</a>
			</span>
		</p>
	</div>

	<div ng-show="emailEditing">
		<p>
			<form class="form-inline">
				<strong>Email:</strong>
				<input type="email" class="input" placeholder="Email" ng-model="emailEdited">

				<button type="submit" class="btn" ng-click="save('email')">Save</button>
				<button ng-click="close('email')" class="btn">Cancel</button>
			</form>
		</p>
	</div>
	<p>
		<a href="" ng-click="edit('password')" ng-show="!passwordEditing">Change Password</a>
	</p>
	<div ng-show="passwordEditing">
		<p>
			<form class="form-inline">
				<strong>New Password:</strong>
				<input type="password" class="input" placeholder="Password" ng-model="passwordEdited">

				<button ng-click="close('password')" class="btn">Cancel</button>
				<button type="submit" class="btn btn-primary" ng-click="save('password')">Save</button>
			</form>
		</p>
	</div>
	<p>
		<a href="" ng-click="resetSettings()">Reset All Settings (WTS/WTB and Color Customizations)</a>
	</p>
	<hr>
	<h2>Color Customization</h2>
	<p>
		<a href="" switch-theme="">Switch to Light Theme</a>
	</p>
	<form class="form row-fluid">
		<div class="span4">
			<div class="controls">
				<label class="control-label">
					None owned color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.ownedColors.none">
				</div>
			</div>
			<div class="controls">
				<label class="control-label">
					Less than 3 owned color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.ownedColors.missing">
				</div>
			</div>
			<div class="controls">
				<label class="control-label">
					Exactly 3 owned color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.ownedColors.playset">
				</div>
			</div>
			<div class="controls">
				<label class="control-label">
					More than 3 owned color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.ownedColors.extras">
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="controls">
				<label class="control-label">
					Growth faction color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.factionColors.growth">
				</div>
			</div>
			<div class="controls">
				<label class="control-label">
					Order faction color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.factionColors.order">
				</div>
			</div>
			<div class="controls">
				<label class="control-label">
					Energy faction color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.factionColors.energy">
				</div>
			</div>
			<div class="controls">
				<label class="control-label">
					Decay faction color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.factionColors.decay">
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="controls">
				<label class="control-label">
					Common color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.rarityColors.common">
				</div>
			</div>
			<div class="controls">
				<label class="control-label">
					Uncommon color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.rarityColors.uncommon">
				</div>
			</div>
			<div class="controls">
				<label class="control-label">
					Rare color
				</label>
				<div class="control-group">
					<input type="color" ng-model="user.settings.rarityColors.rare">
				</div>
			</div>
		</div>
	</form>
	<div class="row-fluid">
		<table class="table table-bordered table-hover table-condensed">
			<tbody>
				<tr class="faction-growth">
					<td class="owned owned-colors-none">
						<input type="number" value="0"></td>
					<td>
						<a>Bear Paw</a>
					</td>
					<td class="rarity rarity-common">Common</td>
					<td class="price">57-62</td>
				</tr>
				<tr class="faction-order">
					<td class="owned owned-colors-missing">
						<input type="number" value="2"></td>
					<td>
						<a>Blessing of Haste</a>
					</td>
					<td class="rarity rarity-uncommon">Uncommon</td>
					<td class="price">157-162</td>
				</tr>
				<tr class="faction-energy">
					<td class="owned owned-colors-playset">
						<input type="number" value="3"></td>
					<td>
						<a>Iron Giant</a>
					</td>
					<td class="rarity rarity-rare">Rare</td>
					<td class="price">57-62</td>
				</tr>
				<tr class="faction-decay">
					<td class="owned owned-colors-extras">
						<input type="number" value="4"></td>
					<td>
						<a>Husk</a>
					</td>
					<td class="rarity rarity-common">Common</td>
					<td class="price">117-222</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>