<div class="row-fluid">
	<h1>Changelog</h1>


	<h2>ScrollsToolbox.com</h2>
	<p>v1.8 (July 26th)</p>
	<ul>
		<li>Updated colors for owned quantities.  Red is now 0 owned, Yellow is less than 3 owned.  Green is exactly 3 owned, and Blue is more than 3 copies owned.</li>
		<li>Added additional table columns and sorting for Tier 1, Tier 2, and Tier 3 and the number tradeable/craftable in addition to the aggregate owned amount.</li>
		<li>Added Tier filters to WTS/WTB</li>
		<li>Added Tier prefix and Tier suffix</li>
		<li>Added Tier2 and Tier3 Multiplier</li>
		<li>Added Never Buy Maximum Total Owned</li>
		<li>Added Column-hiding for Tradeable and Tier1/2/3 on the Table view</li>
	</ul>

	<p>v1.7 (July 15th)</p>
	<ul>
		<li>WTB/WTS settings now save to the server automatically.</li>
		<li>Theme setting now saves to the server automatically. Additional toggle added to Account screen.</li>
		<li>Switched Scrollpost pricing to use 72 hour price point and properly min/max the buy/sell prices.</li>
		<li>Fixed change password form not showing for some users.</li>
		<li>Alpha collection image-view (privacy controls and filters next release). <a href="/collection/{{username}}">/collection/{{user.username ? user.username : 'ScrollsToolboxUsername'}}</a> (case sensitive)</li>
	</ul>

	<p>v1.6 (July 13th)</p>
	<ul>
		<li>Removed ScrollsPC and switched to ScrollsPost prices.</li>
		<li>Added ScrollsPost "Suggested" pricing option to WTS/WTB.</li>
		<li>Fixed a bug with tracking user sockets when closing the browser without logging out.</li>
	</ul>

	<p>v1.5 (July 4th)</p>
	<ul>
		<li>Added Table Sorting Options.</li>
		<li>Added Owned-Only Table Filter</li>
		<li>Added WTS/WTB message-generation card filtering by price threshold.</li>
		<li>Added WTS/WTB append text.</li>
	</ul>

	<p>v1.4 (July 1st)</p>
	<ul>
		<li>Added Remember Me option to login.</li>
	</ul>

	<p>v1.3 (June 29th)</p>
	<ul>
		<li>Added WTS/WTB message-generation card filtering by resource-type.</li>
		<li>Added ability to do dynamic flash messages.</li>
		<li>Fixed closing alerts taking you back to home.</li>
	</ul>

	<p>v1.2 (June 28th)</p>
	<ul>
		<li>Large Collections Can now be Synced.</li>
		<li>Additional Controls for Prefixes and Suffixes</li>
		<li>Percentage Buy/Sell Modifiers (these are applied before the regular modifiers)</li>
	</ul>

	<h2>CollectionSync Mod</h2>
	<p>v1.3 (July 26th)</p>
	<ul>
		<li>Updated for the new summoner API.</li>
	</ul>

	<p>v1.2 (June 28th)</p>
	<ul>
		<li>Large Collections Can now be Synced.</li>
		<li>Deck Import and Collection Sync buttons no longer conflict.</li>
	</ul>
</div>