<div class="modal-header">
  <h1>Enable the Mod and Sync!</h1>
</div>
<div class="modal-body final-tutorial">
  <p>Open scrolls, then:</p>
  <ul>
    <li>Login and select the <strong>Mods Menu Item</strong></li>
    <li>Select <strong>ScrollsGuide</strong> from the Repositories list, <strong>check CollectionSync</strong> and <strong>click Download</strong>.</li>
    <li>After it installs, <strong>check CollectionSync</strong> from the Installed Mods list.</li>
    <li><strong>Uncheck DeckSync</strong> from the Installed Mods list.  This is temporary until the ModLoader gets better support for button placement. For the time being, we recommend you toggle the two plugins on and off when you need to switch between them.  We will be fixing this as soon as possible.</li>
    <li><strong>Click Apply (Restarts Scrolls)</strong>.</li>
    <li>Login and select the <strong>Deck Builder Menu Item</strong></li>
    <li><strong>Click Sync Collection</strong></li>
  </ul>

  <p>Your done!  Anytime you need to Sync your collection, simply click the "Sync Collection" button on the collections screen.</p>
</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn btn">Close</button>
</div>