<div class="modal-header">
  <h1>Enable the Mod and Sync!</h1>
</div>
<div class="modal-body final-tutorial">
  <p>Open scrolls, then:</p>
  <ul>
    <li>Login and select the <strong>Mods Menu Item</strong></li>
    <li>Select <strong>Scrollsguide</strong> from the Repositories list, <strong>check CollectionSync</strong> and <strong>click Download</strong>.</li>
    <li>After it installs, <strong>check CollectionSync</strong> from the Installed Mods list.</li>
    <li><strong>Click Apply (Restarts Scrolls)</strong>.</li>
    <li>Login and select the <strong>Deck Builder Menu Item</strong></li>
    <li><strong>Click Sync Collection</strong></li>
  </ul>

  <p>Your done!  Anytime you need to Sync your collection, simply click the "Sync Collection" button on the Deck Builder screen.  CollectionSync will be automatically updated whenver you launch scrolls.</p>
</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn btn-primary">Close</button>
</div>