<div class="row-fluid">
	<h1>{{user.username}}</h1>

	<p>
		<strong>These should match the Scrolls account you are currently using.</strong>
		<br />
		Click the edit icons to change your email or in-game name.</p>
	</p>
		<div ng-show="!inGameNameEditing">
			<p>
				<strong>In-Game Name:</strong>
				<span>
					{{user.inGameName}}
					<a ng-click="edit('inGameName')">
						<i class="icon-edit"></i>
					</a>
				</span>
			</p>
		</div>

		<div ng-show="inGameNameEditing">
			<p>
				<form class="form-inline">
					<strong>In-Game Name:</strong>
					<input type="text" class="input" placeholder="In-Game Name" ng-model="inGameNameEdited" />

					<button type="submit" class="btn" ng-click="save('inGameName')">Save</button>
					<button ng-click="close('inGameName')" class="btn">Cancel</button>
				</form>
			</p>
		</div>

		<div ng-show="!emailEditing">
			<p>
				<strong>Email:</strong>
				<span>
					{{user.email}}
					<a ng-click="edit('email')">
						<i class="icon-edit"></i>
					</a>
				</span>
			</p>
		</div>

		<div ng-show="emailEditing">
			<p>
				<form class="form-inline">
					<strong>Email:</strong>
					<input type="email" class="input" placeholder="Email" ng-model="emailEdited" />

					<button type="submit" class="btn" ng-click="save('email')">Save</button>
					<button ng-click="close('email')" class="btn">Cancel</button>
				</form>
			</p>
		</div>
	<p>
		<a href="#" ng-click="edit('password')" ng-show="!passwordEditing">Change Password</a>
	</p>
	<div ng-show="passwordEditing">
		<p>
			<form class="form-inline">
				<strong>Password:</strong>
				<input type="password" class="input" placeholder="Password" ng-model="passwordEdited" />

				<button type="submit" class="btn" ng-click="save('password')">Save</button>
				<button ng-click="close('password')" class="btn">Cancel</button>

			</form>
		</p>
	</div>
</div>
