<div class="control-group">
	<label class="control-label">Separator</label>
	<div class="controls">
		<input type="text" ng-model="sharedOpts.separator" ng-trim="false" />
	</div>
</div>
<div class="control-group">
	<label class="control-label">Quantity Prefix</label>
	<div class="controls">
		<input type="text" ng-model="sharedOpts.qPrefix" ng-trim="false" />
	</div>
</div>
<div class="control-group">
	<label class="control-label">Quantity Suffix</label>
	<div class="controls">
		<input type="text" ng-model="sharedOpts.qSuffix" ng-trim="false" />
	</div>
</div>
<div class="control-group">
	<label class="control-label">Gold Prefix</label>
	<div class="controls">
		<input type="text" ng-model="sharedOpts.gPrefix" ng-trim="false" />
	</div>
</div>
<div class="control-group">
	<label class="control-label">Gold Suffix</label>
	<div class="controls">
		<input type="text" ng-model="sharedOpts.gSuffix" ng-trim="false" />
	</div>
</div>