<div class="row-fluid">
	<h1>Changelog</h1>


	<h2>ScrollsToolbox.com</h2>
	<p>v3.2 (May 18th 2014)</p>
	<ul>
		<li>Updated cards.</li>
		<li>Added missing images.</li>
		<li>Added Show missing cards option to <a href="/collection/{{username}}">Collection Image-View</a></li>
		<li>Fixed missing prices by updating to scrollsguide experimental.</li>
	</ul>
	<p>v3.2 (February 26th 2014)</p>
	<ul>
		<li>Manually added card 286 (Tempest Reaver) so sync won't fail when users own this card.  Site does not track the card properly, this will be fixed when the Scrollsguide API is updated to include it.  Thanks to dga711 for helping discover this issue.</li>
	</ul>
	<p>v3.1 (February 25th 2014)</p>
	<ul>
		<li>Added support for the new scrolls introduced with the Rebellion update (patch 0.117.0).</li>
		<li>Modified card scraping script to properly allow for commas and single quotes.</li>
	</ul>
	<p>v3.0 (December 12th)</p>
	<ul>
		<li>Added support for the new scrolls introduced with scrolls patch 0.112.</li>
	</ul>

	<p>v2.95 (December 1st)</p>
	<ul>
		<li>Updated scrollsguide consistency, removed dead links, added new tools. Textual consistencies.
 - contributed by <a href="https://github.com/kbasten">kbasten</a>.</li>
	</ul>
	<p>v2.9 (October 29th)</p>
	<ul>
		<li>Switched prices to use scrollsguide.</li>
		<li>Removed scrollspost resource links.</li>
	</ul>
	<p>v2.8 (October 21st)</p>
	<ul>
		<li>Added support for the new scrolls introduced with the Judgement patch.</li>
	</ul>

	<p>v2.7 (August 31st)</p>
	<ul>
		<li>Added rounding option to Trade Assistant</li>
	</ul>

	<p>v2.6 (August 26th)</p>
	<ul>
		<li>Made decay active</li>
		<li>Updated images (a few are not yet updated)</li>
	</ul>

	<p>v2.5 (August 19th)</p>
	<ul>
		<li>Added Color Customization options to the Account page</li>
		<li>Added Support for decay</li>
	</ul>

	<p>v2.4 (August 14th)</p>
	<ul>
		<li>Added Option to Reset Settings to the default on the Trade assistant and the Account page.</li>
		<li>Duplicate Sell Value and Binder Value now refelct Tier2/Tier3 cards.</li>
	</ul>

	<p>v2.3 (August 11th)</p>
	<ul>
		<li>Added Tradeable/Tier1/Tier2/Tier3 Info to <a href="/collection/{{username}}">Collection Image-View</a></li>
	</ul>
	<p>v2.2 (August 10th)</p>
	<ul>
		<li>Updated Resource Section, removing sites that hadn't been updated in several patchs.</li>
	</ul>

	<p>v2.1 (August 9th)</p>
	<ul>
		<li>Added draft/limited to the resources section.</li>
		<li>Fixed the rarity of Rat King manually until scrollsguide API updates.</li>
	</ul>

	<p>v2 (August 4th)</p>
	<ul>
		<li>Fixed untradeable column font-color on dark theme.</li>
		<li>Fixed bug where some cards were not showing up for certain users.</li>
	</ul>

	<p>v1.91 (July 28th)</p>
	<ul>
		<li>Fixing sorting for Tradeable column</li>
		<li>Adding Untradeable column (default to off)</li>
		<li>Correcting tier 3 pricing to be x9 (was x27)</li>
		<li>Hiding unreleased cards</li>
		<li>Updating resources</li>
	</ul>

	<p>v1.8 (July 26th)</p>
	<ul>
		<li>Updated colors for owned quantities.  Red is now 0 owned, Yellow is less than 3 owned.  Green is exactly 3 owned, and Blue is more than 3 copies owned.</li>
		<li>Added additional table columns and sorting for Tier 1, Tier 2, and Tier 3 and the number tradeable/craftable in addition to the aggregate owned amount.</li>
		<li>Added Tier filters to WTS/WTB</li>
		<li>Added Tier prefix and Tier suffix</li>
		<li>Added Tier2 and Tier3 Multiplier</li>
		<li>Added Never Buy Maximum Total Owned</li>
		<li>Added Column-hiding for Tradeable and Tier1/2/3 on the Table view</li>
		<li>Updated resources to remove non-active sites</li>
	</ul>

	<p>v1.7 (July 15th)</p>
	<ul>
		<li>WTB/WTS settings now save to the server automatically.</li>
		<li>Theme setting now saves to the server automatically. Additional toggle added to Account screen.</li>
		<li>Switched Scrollpost pricing to use 72 hour price point and properly min/max the buy/sell prices.</li>
		<li>Fixed change password form not showing for some users.</li>
		<li>Alpha collection image-view (privacy controls and filters next release). <a href="/collection/{{username}}">/collection/{{user.username ? user.username : 'ScrollsToolboxUsername'}}</a> (case sensitive)</li>
	</ul>

	<p>v1.6 (July 13th)</p>
	<ul>
		<li>Removed ScrollsPC and switched to ScrollsPost prices.</li>
		<li>Added ScrollsPost "Suggested" pricing option to WTS/WTB.</li>
		<li>Fixed a bug with tracking user sockets when closing the browser without logging out.</li>
	</ul>

	<p>v1.5 (July 4th)</p>
	<ul>
		<li>Added Table Sorting Options.</li>
		<li>Added Owned-Only Table Filter</li>
		<li>Added WTS/WTB message-generation card filtering by price threshold.</li>
		<li>Added WTS/WTB append text.</li>
	</ul>

	<p>v1.4 (July 1st)</p>
	<ul>
		<li>Added Remember Me option to login.</li>
	</ul>

	<p>v1.3 (June 29th)</p>
	<ul>
		<li>Added WTS/WTB message-generation card filtering by resource-type.</li>
		<li>Added ability to do dynamic flash messages.</li>
		<li>Fixed closing alerts taking you back to home.</li>
	</ul>

	<p>v1.2 (June 28th)</p>
	<ul>
		<li>Large Collections Can now be Synced.</li>
		<li>Additional Controls for Prefixes and Suffixes</li>
		<li>Percentage Buy/Sell Modifiers (these are applied before the regular modifiers)</li>
	</ul>

	<h2>CollectionSync Mod</h2>
	<p>v1.4 (August 19th)</p>
	<ul>
		<li>Resolved conflicting button position with scrollspost mod.</li>
		<li>Removed sync button from crafting screen (it was not syncing the first starter deck properly).</li>
	</ul>

	<p>v1.3 (July 26th)</p>
	<ul>
		<li>Updated for the new summoner API.</li>
	</ul>

	<p>v1.2 (June 28th)</p>
	<ul>
		<li>Large Collections Can now be Synced.</li>
		<li>Deck Import and Collection Sync buttons no longer conflict.</li>
	</ul>
</div>
