<div class="row-fluid">
	<h1>Changelog</h1>


	<h2>ScrollsToolbox.com</h2>
	<p>v1.7 (July 15th)</p>
	<ul>
		<li>WTB/WTS settings now save to the server automatically.</li>
		<li>Switched Scrollpost pricing to use 72 hour price point and properly min/max the buy/sell prices.</li>
		<li>Fixed change password form not showing for some users.</li>
		<li>Theme setting now saves to the server automatically. Additional toggle added to Account screen.</li>
	</ul>

	<p>v1.6 (July 13th)</p>
	<ul>
		<li>Removed ScrollsPC and switched to ScrollsPost prices.</li>
		<li>Added ScrollsPost "Suggested" pricing option to WTS/WTB.</li>
		<li>Fixed a bug with tracking user sockets when closing the browser without logging out.</li>
	</ul>

	<p>v1.5 (July 4th)</p>
	<ul>
		<li>Added Table Sorting Options.</li>
		<li>Added Owned-Only Table Filter</li>
		<li>Added WTS/WTB message-generation card filtering by price threshold.</li>
		<li>Added WTS/WTB append text.</li>
	</ul>

	<p>v1.4 (July 1st)</p>
	<ul>
		<li>Added Remember Me option to login.</li>
	</ul>

	<p>v1.3 (June 29th)</p>
	<ul>
		<li>Added WTS/WTB message-generation card filtering by resource-type.</li>
		<li>Added ability to do dynamic flash messages.</li>
		<li>Fixed closing alerts taking you back to home.</li>
	</ul>

	<p>v1.2 (June 28th)</p>
	<ul>
		<li>Large Collections Can now be Synced.</li>
		<li>Additional Controls for Prefixes and Suffixes</li>
		<li>Percentage Buy/Sell Modifiers (these are applied before the regular modifiers)</li>
	</ul>

	<h2>CollectionSync Mod</h2>
	<p>v1.2 (June 28th)</p>
	<ul>
		<li>Large Collections Can now be Synced.</li>
		<li>Deck Import and Collection Sync buttons no longer conflict.</li>
	</ul>
</div>
