<div class="row-fluid">
	<h1>Changelog</h1>


	<h2>ScrollsToolbox.com</h2>
	<p>v1.4 (July 1st)</p>
	<ul>
		<li>Added Remember Me option to login.</li>
	</ul>

	<p>v1.3 (June 29th)</p>
	<ul>
		<li>Added WTS/WTB message-generation filtering by resource-type.</li>
		<li>Added ability to do dynamic flash messages.</li>
		<li>Fixed closing alerts taking you back to home.</li>
	</ul>

	<p>v1.2 (June 28th)</p>
	<ul>
		<li>Large Collections Can now be Synced.</li>
		<li>Additional Controls for Prefixes and Suffixes</li>
		<li>Percentage Buy/Sell Modifiers (these are applied before the regular modifiers)</li>
	</ul>

	<h2>CollectionSync Mod</h2>
	<p>v1.2 (June 28th)</p>
	<ul>
		<li>Large Collections Can now be Synced.</li>
		<li>Deck Import and Collection Sync buttons no longer conflict.</li>
	</ul>
</div>
