<h1>FAQ</h1>

<h2>How do I submit a bug, comment, suggestion, or question?</h2>
<p>I can be reached via the <a href="/contact">Contact Page</a></p>

<hr />

<h2>How are the prices generated?</h2>
<p>
	Prices are thanks to <a href="http://www.scrollspc.com/">ScrollsPC</a>.  If you choose to use ScrollsPC pricing, you will also be able to select "high," "low," or "median" (average of low and high) pricing.  We will be adding support for <a href="http://trading.scrollsguide.com/">Scrolls Trading Bulletin</a> and <a href="http://www.scrollspost.com">Scrolls Post</a> soon!.  These prices are updated about every hour, but will not be perfectly in-sync with the respective data sources for a short period of time after the source updates.
</p>

<hr />

<h2>Why do you ask for my In-Game Name and Email on the account page?</h2>
<p>In the future you will be able to reset your account password using your email should you forget it.  By providing your In-Game Name, you will be able to Sync your data directly from your account to ScrollsToolbox .  Neither field will ever be required, and we will not retain any information if you delete it or solicit you via email.</p>

<hr />

<h2>Help, Deck Importer and CollectionSync buttons are on top of each other!</h2>
<p>
	For the time being, we recommend you toggle the two plugins on and off when you need to switch between them.  This is temporary until the ModLoader gets better support for button placement. We will be fixin this as soon as possible.
</p>

<hr />

<h2>Whats this site built with?</h2>
<p>It uses Twitter's Bootstrap and AngularJS on the frontend (built via Yeoman), a small NodeJS server on the backend and MongoDB for the database.  Real-time communication uses socket.io and the webserver uses express.  The dark bootstrap theme is thanks to <a href="https://github.com/danneu/darkstrap">danneu</a>.</p>

<hr />

<h2>The site is slow/buggy!</h2>
<p>This is currently an Alpha version, there are expected to be bugs.  Please <a href="/contact">Report any problems</a> you may find.  Performance will improve as development continues.</p>
