<div class="row-fluid">
	<h1>Forgot Password</h1>

	<p class="alert">Currently, there isn't an easy way to reset your password on your own.  Please contact me at: <a href="mailto:Aaron.TidwelL@gmail.com?Subject=ScrollsToolbox Password Reset" title="ScrollsToolbox Password Reset">Aaron.Tidwell@gmail.com</a> and I'll send you a new pasword.</p>

<p class="alert alert-info">
	Please note, for the time being usernames and passwords are case-sensitive.  We will resolve this shortly.
</p>


	<!-- <p>
		Enter your email below, a link to reset your password will be sent.
	</p>
	<form class="form-inline">
		<strong>Email:</strong>
		<input type="email" class="input" placeholder="Email" ng-model="email" />

		<button type="submit" class="btn btn-primary" ng-click="resetPassword()">Reset Password</button>
	</form> -->
</div>
