<div>
	<h1>Resources</h1>
	<p>Please note, Scrolls Toolbox is not affiliated with any of these sites, these are just some helpful links to great projects created by other developers.  If you are the developer of a scrolls-related web-app or API, please <a href="/contact">let me know</a> to be added to the list.</p>
	<hr />

	<h2>Price Checking</h2>
	<ul>
		<li ng-repeat="link in links.prices">
			<a href="{{link.url}}">{{link.title}}</a> - {{link.description}}</li>
		</li>
	</ul>

	<h2>Buy/Sell/Trading</h2>
	<ul>
		<li ng-repeat="link in links.trading">
			<a href="{{link.url}}">{{link.title}}</a> - {{link.description}}</li>
		</li>
	</ul>

	<h2>Deck Building</h2>
	<ul>
		<li ng-repeat="link in links.deckbuilders">
			<a href="{{link.url}}">{{link.title}}</a> - {{link.description}}</li>
		</li>
	</ul>

	<h2>Card Browsing</h2>
	<ul>
		<li ng-repeat="link in links.lists">
			<a href="{{link.url}}">{{link.title}}</a> - {{link.description}}</li>
		</li>
	</ul>

	<h2>Misc</h2>
	<ul>
		<li ng-repeat="link in links.misc">
			<a href="{{link.url}}">{{link.title}}</a> - {{link.description}}</li>
		</li>
	</ul>

	<h2>For Developers</h2>
	<ul>
		<li ng-repeat="link in links.developers">
			<a href="{{link.url}}">{{link.title}}</a> - {{link.description}}</li>
		</li>
	</ul>
</div>