<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit main-hero">
	<h1>Scrolls Toolbox</h1>
	<p>
		Providing helpful webapps to enrich your Scrolls TCG experience.

		Track your collection and use our integrated tools generate customized trade messages, created for you using the latest pricing data and the information from your collection.
	</p>
	<p>
		<a href="/collection" class="btn btn-primary btn-large">Explore the Collection Manger <i class="icon-chevron-right"></i></a>
	</p>
</div>

<!-- Example row of columns -->
<div class="row-fluid">
	<!--
	<div class="span4">
		<h2>Deck Builder</h2>
		<p>
			Some info about the deck builder.
		</p>
		<p>
			<a class="btn" href="#">Try it out <i class="icon-chevron-right"></i></a>
		</p>
	</div>
-->
	<div class="span6">
		<h2>Collection Manager</h2>
		<p>
			Manage your collection, track buy and sell price overrides, view aggregate gold data, sorting, filtering, fullsize-card preview.  Minimalist "data-entry" view.  Live saving via websockets (just like google spreadsheets!).
		</p>
		<p>
			<a class="btn" href="/collection">Try it out <i class="icon-chevron-right"></i></a>
		</p>
	</div>
	<div class="span6">
		<h2>Trade Assistant</h2>
		<p>
			Auto-generate WTS/WTB messages based on your collection information.  Ability to alwaysBuy/alwaysSell regardless of quantity and price overrides.  Apply global modifiers to pricing data from Scrolls Trading Bulletin and generate using low/high/median pricing information.
		</p>
		<p>
			<a class="btn" href="/wtswtb">Try it out <i class="icon-chevron-right"></i></a>
		</p>
	</div>
</div>