<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit main-hero">
	<h1>Scrolls Toolbox</h1>
	<h2>Collection Tracking and Trade Message Generation.</h2>
	<p>
		Sync your collection using our in-game MOD and use our app to track the cards you own.  Automatically generate customized trade messages based on your synced collection data.  We use the latest pricing data from <a href="scrollspc.com">ScrollsPC.com</a> and have a wide variety of customization options and filters.
	</p>
	<p>
		<a ng-click="startDialog()" class="btn btn-primary btn-large">Sync Your Collection and Get Started <i class="icon-chevron-right"></i></a>
	</p>
	<a href switch-theme>Switch to Light Theme</a>
</div>

<!-- Example row of columns -->
<div class="row-fluid">
	<h2>Stop managing your binder, and get back to the game!</h2>
</div>
<div class="row-fluid">
	<!--
	<div class="span4">
		<h2>Deck Builder</h2>
		<p>
			Some info about the deck builder.
		</p>
		<p>
			<a class="btn" href="#">Try it out <i class="icon-chevron-right"></i></a>
		</p>
	</div>
-->
	<div class="span4">
		<h1>CollectionSync</h1>
		<p>
			In-Game MOD that exports your entire collection at the click of a button.  Never manually update your scrolls collection information again!
		</p>
		<p>
			<a class="btn btn-large" ng-click="startDialog()">Get Started</a>
		</p>
	</div>
	<div class="span4">
		<h1>Collection Manager</h1>
		<p>
			Manage your collection, track buy and sell price overrides, view aggregate gold data, sorting, filtering, full size card preview.  <!--Minimalist "data-entry" view.-->  Live saving via websockets (just like google spreadsheets!).
		</p>
		<p>
			<a class="btn btn-large" href="/collection">Try it out</a>
		</p>
	</div>
	<div class="span4">
		<h1>Trade Assistant</h1>
		<p>
			Auto-generate WTS/WTB messages based on your collection information.  Ability to always buy/always sell and price overrides.  Apply global modifiers and generate shopping lists using pricing information from ScrollsPC and Scrolls Trading Bulletin.
		</p>
		<p>
			<a class="btn btn-large" href="/wtswtb">Try it out</a>
		</p>
	</div>
</div>