<div ng-controller="TableCtrl">
	<div class="row-fluid">
		<div class="span3 form table-controls">
			<div class="controls">
				<div class="faction-order checkbox">
					<input type="checkbox" ng-model="showOrder" />Order: <strong>{{total('order')}}</strong>
				</div>
				<div class="faction-energy checkbox">
					<input type="checkbox" ng-model="showEnergy" />Energy: <strong>{{total('energy')}}</strong>
				</div>
				<div class="faction-growth checkbox">
					<input type="checkbox" ng-model="showGrowth" />Growth: <strong>{{total('growth')}}</strong>
				</div>
			</div>
		</div>
		<form class="form span5 form-horizontal table-controls">
			<div class="control-group">
				<label class="control-label">Show</label>
				<div class="controls">
					<label class="radio">
					  <input type="radio" ng-model="tableView" value="all">
					  All ({{total('all')}} cards)
					</label>
					<label class="radio">
					  <input type="radio" ng-model="tableView" value="owned">
					  Owned Only ({{total('all')}})
					</label>
					<label class="radio">
					  <input type="radio" ng-model="tableView" value="missing">
					  Missing ({{total('missing')}} missing for full playset)
					</label>
					<label class="radio">
					  <input type="radio" ng-model="tableView" value="duplicate">
					  Duplicates ({{total('duplicate')}} beyond full playset)
					</label>
				</div>
			</div>
		</form>
		<div class="span4 gold-info" ng-controller="CollectionGoldCtrl">
			<p>
				<label>Gold to Full Playset</label>
				<strong>{{playsetGold().low}}-{{playsetGold().high}}</strong>
			</p>
			<p>
				<label>Duplicate Sell value</label>
				<strong>{{sellGold().low}}-{{sellGold().high}}</strong>
			</p>
			<p>
				<label>Total Binder Value</label>
				<strong>{{binderGold().low}}-{{binderGold().high}}</strong>
			</p>
		</div>
	</div>
	<div class="row-fluid">
		<form class="form-search">
		  <input type="text" ng-model="search" placeholder="Search" class="input-medium search-query" />
		</form>
	</div>
	<div class="row-fluid">
		<table class="table table-bordered table-hover table-condensed">
		  <thead>
		    <tr>
		      <th class="owned">
		      	Owned
		      	<i class="icon-sort-up" ng-click="setSort('owned', 'asc')" ng-class="{active: isActiveSort('owned','asc')}"></i>
		      	<i class="icon-sort-down" ng-click="setSort('owned', 'desc')" ng-class="{active: isActiveSort('owned','desc')}"></i>
		      </th>
		      <th class="owned">
		      	Tier 1
		      	<i class="icon-sort-up" ng-click="setSort('tier1', 'asc')" ng-class="{active: isActiveSort('tier1','asc')}"></i>
		      	<i class="icon-sort-down" ng-click="setSort('tier1', 'desc')" ng-class="{active: isActiveSort('tier1','desc')}"></i>
		      </th>
		      <th class="owned">
		      	Tier 2
		      	<i class="icon-sort-up" ng-click="setSort('tier2', 'asc')" ng-class="{active: isActiveSort('tier2','asc')}"></i>
		      	<i class="icon-sort-down" ng-click="setSort('tier2', 'desc')" ng-class="{active: isActiveSort('tier2','desc')}"></i>
		      </th>
		      <th class="owned">
		      	Tier 3
		      	<i class="icon-sort-up" ng-click="setSort('tier3', 'asc')" ng-class="{active: isActiveSort('tier3','asc')}"></i>
		      	<i class="icon-sort-down" ng-click="setSort('tier3', 'desc')" ng-class="{active: isActiveSort('tier3','desc')}"></i>
		      </th>
	<!-- 	      <th class="image">Image</th> -->
		      <th class="name">
		      	Name
		      	<i class="icon-sort-up" ng-click="setSort('name', 'asc')" ng-class="{active: isActiveSort('name','asc')}"></i>
		      	<i class="icon-sort-down" ng-click="setSort('name', 'desc')" ng-class="{active: isActiveSort('name','desc')}"></i>
		      </th>
		      <th class="rarity">
		      	Rarity
		      	<i class="icon-sort-up" ng-click="setSort('rarity', 'asc')" ng-class="{active: isActiveSort('rarity','asc')}"></i>
		      	<i class="icon-sort-down" ng-click="setSort('rarity', 'desc')" ng-class="{active: isActiveSort('rarity','desc')}"></i>
		      </th>
		      <th class="price">
		      	Price
		      	<i class="icon-sort-up" ng-click="setSort('price', 'asc')" ng-class="{active: isActiveSort('price','asc')}"></i>
		      	<i class="icon-sort-down" ng-click="setSort('price', 'desc')"  ng-class="{active: isActiveSort('price','desc')}"></i>
		      </th>
		      <th class="always-buy">Always Buy</th>
		      <th class="buy-override">Buy Price Override</th>
		      <th class="always-sell">Always Sell</th>
		      <th class="sell-override">Sell Price Override</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="card in sortedData"
		    	faction-color="card.resource"
		    	ng-show="
			    	(tableView=='all' ||
		    		(card.owned > 3 && tableView=='duplicate') ||
		    		card.owned <3 && tableView == 'missing' ||
		    		card.owned && tableView == 'owned') &&

		    		((showOrder && card.resource=='Order') ||
		    		(showGrowth && card.resource=='Growth') ||
		    		(showEnergy && card.resource=='Energy')) &&

		    		inFiltered(card.name)">
		      <td owned-color="card.owned" class="owned">
		      	<input type="number" ng-model="card.owned" tabindex="{{$index+1}}" ng-change="save(card.name)" />
		      </td>
		      <td owned-color="card.tier1" class="owned">
		      	<input type="number" ng-model="card.tier1" tabindex="{{tabIndex($index,1)}}" ng-change="save(card.name)" />
		      </td>
		      <td owned-color="card.tier2" class="owned">
		      	<input type="number" ng-model="card.tier2" tabindex="{{tabIndex($index,2)}}" ng-change="save(card.name)" />
		      </td>
		      <td owned-color="card.tier3" class="owned">
		      	<input type="number" ng-model="card.tier3" tabindex="{{tabIndex($index,3)}}" ng-change="save(card.name)" />
		      </td>
<!-- 		      <td class="image"><img src="{{generateImagePath(card.name)}}" image-popup="generateImagePath(card.name)"></td>
 -->		      <td class="card.name" image-popup="generateImagePath(card.name)"><a>{{card.name}}</a></td>
		      <td class="rarity" rarity-color="card.card.rarity">{{card.card.rarity}}</td>
		      <td class="price">{{card.price | price}}</td>
		      <td class="always-buy"><input type="checkbox" ng-model="card.alwaysBuy" ng-change="save(card.name)"/></td>
		      <td class="buy-override"><input ng-change="save(card.name)" type="number" ng-model="card.price.buyOverride" tabindex="{{tabIndex($index,4)}}"/></td>
		      <td class="always-sell"><input type="checkbox" ng-model="card.alwaysSell" ng-change="save(card.name)"/></td>
		      <td class="sell-override"><input ng-change="save(card.name)" type="number" ng-model="card.price.sellOverride" tabindex="{{tabIndex($index,5)}}"/></td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="image-popup-container"></div>
</div>