<h2>Trade Assistant</h2>
<div ng-include="'views/not-logged-in.html'"></div>
<div ng-controller="WtswtbCtrl">
	<ul class="nav nav-tabs" id="formTab">
	  <li class="active"><a href="#wtb">WTB</a></li>
	  <li><a href="#wts">WTS</a></li>
	</ul>
	<form class="form form-horizontal">
		<div class="tab-content">
		  	<div class="tab-pane active" id="wtb">
				<fieldset>
					<div class="span6">
						<div class="control-group">
							<div class="control-label">Buy Prepend Text</div>
							<div class="controls">
								<input ng-model="u.settings.buyPrependText" ng-trim="false" type="text" />
							</div>
						</div>
						<div class="control-group">
							<div class="control-label">Buy Append Text</div>
							<div class="controls">
								<input ng-model="u.settings.buyAppendText" ng-trim="false" type="text" />
							</div>
						</div>
					    <div class="control-group">
							<label class="control-label">Rarities</label>
							<div class="controls">
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.buyRare">
								  Rares
								</label>
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.buyUncommon">
								  Uncommons
								</label>
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.buyCommon">
								  Commons
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Tiers</label>
							<div class="controls">
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.buytier1">
								  Tier1
								</label>
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.buytier2">
								  Tier2
								</label>
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.buytier3">
								  Tier3
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Buy Pricing</label>
							<div class="controls">
								<label class="radio">
								  <input type="radio" ng-model="u.settings.buyAt" value="low">
								  Buy Low
								</label>
								<label class="radio">
								  <input type="radio" ng-model="u.settings.buyAt" value="median">
								  Buy Median
								</label>
								<label class="radio">
								  <input type="radio" ng-model="u.settings.buyAt" value="suggested">
								  Buy ScrollsPost Suggested
								</label>
								<label class="radio">
								  <input type="radio" ng-model="u.settings.buyAt" value="high">
								  Buy High
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Buy Modifier % </label>
							<div class="controls">
								<div class="input-append">
									<input type="number" ng-model="u.settings.buyPModifier" />
									<span class="add-on">%</span>
								</div>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Buy Modifier</label>
							<div class="controls">
								<input type="number" ng-model="u.settings.buyModifier" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Never Buy If Total Owned</label>
							<div class="controls">
								<div class="input-prepend">
									<span class="add-on">>=</span>
									<input type="number" ng-model="u.settings.buyMax" />
								</div>
							</div>
						</div>
					</div>
					<div class="span6" ng-include="'views/advanced-text-controls.html'"></div>
					<div class="control-group">
						<div class="controls">
							<textarea ng-model="wtb" rows="4" class="span10"></textarea>
							<span class="help-block" ng-class="{'over-count': wtb.length>512}">{{wtb.length}}/512</span>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="tab-pane" id="wts">
				<fieldset>
					<div class="span6">
						<div class="control-group">
							<div class="control-label">Sell Prepend Text</div>
							<div class="controls">
								<input ng-model="u.settings.sellPrependText" ng-trim="false" type="text" />
							</div>
						</div>
						<div class="control-group">
							<div class="control-label">Sell Append Text</div>
							<div class="controls">
								<input ng-model="u.settings.sellAppendText" ng-trim="false" type="text" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Rarities</label>
							<div class="controls">
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.sellRare">
								  Rares
								</label>
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.sellUncommon">
								  Uncommons
								</label>
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.sellCommon">
								  Commons
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Tiers</label>
							<div class="controls">
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.selltier1">
								  Tier1
								</label>
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.selltier2">
								  Tier2
								</label>
								<label class="checkbox">
								  <input type="checkbox" ng-model="u.settings.selltier3">
								  Tier3
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Sell Pricing</label>
							<div class="controls">
								<label class="radio">
								  <input type="radio" ng-model="u.settings.sellAt" value="low">
								  Sell Low
								</label>
								<label class="radio">
								  <input type="radio" ng-model="u.settings.sellAt" value="median">
								  Sell Median
								</label>
								<label class="radio">
								  <input type="radio" ng-model="u.settings.sellAt" value="suggested">
								  Sell ScrollsPost Suggested
								</label>
								<label class="radio">
								  <input type="radio" ng-model="u.settings.sellAt" value="high">
								  Sell High
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Sell Modifier % </label>
							<div class="controls">
								<div class="input-append">
									<input type="number" ng-model="u.settings.sellPModifier" />
									<span class="add-on">%</span>
								</div>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Sell Modifier</label>
							<div class="controls">
								<input type="number" ng-model="u.settings.sellModifier" />
							</div>
						</div>
					</div>
					<div class="span6" ng-include="'views/advanced-text-controls.html'"></div>
					<div class="control-group">
						<div class="controls">
							<textarea ng-model="wts" rows="4" class="span10"></textarea>
							<span class="help-block" ng-class="{'over-count': wts.length>512}">{{wts.length}}/512</span>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<script>
		$('#formTab a').click(function(e) {
			$(this).tab('show');
			return false;
		})
		</script>
	</form>
</div>
<hr />
<div ng-include="'/views/table.html'"></div>