<h2>Trade Assistant</h2>
<div ng-controller="WtswtbCtrl">
	<ul class="nav nav-tabs" id="formTab">
	  <li class="active"><a href="#wtb">WTB</a></li>
	  <li><a href="#wts">WTS</a></li>
	</ul>
	<form class="form form-horizontal">
		<div class="control-group">
			<label class="control-label">Separator</label>
			<div class="controls">
				<input type="text" ng-model="separator" ng-trim="false" />
			</div>
		</div>
		<div class="tab-content">
		  	<div class="tab-pane active" id="wtb">
				<fieldset>
					<div class="control-group">
						<div class="control-label">Buy Prepend Text</div>
						<div class="controls">
							<input ng-model="buyPrependText" ng-trim="false" />
						</div>
					</div>
				    <div class="control-group">
						<label class="control-label">Rarities</label>
						<div class="controls">
							<label class="checkbox">
							  <input type="checkbox" ng-model="buyRare">
							  Rares
							</label>
							<label class="checkbox">
							  <input type="checkbox" ng-model="buyUncommon">
							  Uncommons
							</label>
							<label class="checkbox">
							  <input type="checkbox" ng-model="buyCommon">
							  Commons
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Buy Pricing</label>
						<div class="controls">
							<label class="radio">
							  <input type="radio" ng-model="buyAt" value="low">
							  Buy Low
							</label>
							<label class="radio">
							  <input type="radio" ng-model="buyAt" value="median">
							  Buy Median
							</label>
							<label class="radio">
							  <input type="radio" ng-model="buyAt" value="high">
							  Buy High
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Buy Modifier</label>
						<div class="controls">
							<input type="number" ng-model="buyModifier" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<textarea ng-model="wtb" rows="4" class="span10"></textarea>
							<span class="help-block" ng-class="{'over-count': wtb.length>512}">{{wtb.length}}/512</span>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="tab-pane" id="wts">
				<fieldset>
					<div class="control-group">
						<div class="control-label">Sell Prepend Text</div>
						<div class="controls">
							<input ng-model="sellPrependText" ng-trim="false" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Rarities</label>
						<div class="controls">
							<label class="checkbox">
							  <input type="checkbox" ng-model="sellRare">
							  Rares
							</label>
							<label class="checkbox">
							  <input type="checkbox" ng-model="sellUncommon">
							  Uncommons
							</label>
							<label class="checkbox">
							  <input type="checkbox" ng-model="sellCommon">
							  Commons
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Sell Pricing</label>
						<div class="controls">
							<label class="radio">
							  <input type="radio" ng-model="sellAt" value="low">
							  Sell Low
							</label>
							<label class="radio">
							  <input type="radio" ng-model="sellAt" value="median">
							  Sell Median
							</label>
							<label class="radio">
							  <input type="radio" ng-model="sellAt" value="high">
							  Sell High
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Sell Modifier</label>
						<div class="controls">
							<input type="number" ng-model="sellModifier" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<textarea ng-model="wts" rows="4" class="span10"></textarea>
							<span class="help-block" ng-class="{'over-count': wts.length>512}">{{wts.length}}/512</span>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<script>
		$('#formTab a').click(function(e) {
			$(this).tab('show');
			return false;
		})
		</script>
	</form>
</div>
<div ng-include="'/views/table.html'"></div>